#quiz {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#quiz-heading{
    color: #fcd12a;
    padding: 40px;
}

#question{
    background-color: white;
    color: #151e3d;
    padding: 10px;
}