.star-image {
    height:100px;
    padding:20px;
    
}

.gen-info{
    padding: 10px;
    border:solid;
    background-image:url("https://u7.uidownload.com/vector/508/738/vector-abstract-yellow-and-white-graphic-background-ai-thumbnail.jpg");
    background-size: cover;
    border-color: white;
    color:#151e3d;
    border-radius: 25px;
    width: 120px;
    height:140px;
    overflow:scroll;
    overflow-x:hidden;
    box-shadow: 5px 10px 18px  white;
    
}

star-info-box {
    display:flex;
    flex-wrap: nowrap;
}